<!DOCTYPE html>

<html>
    <head>
        <title>{{title}}</title>
        <link href="./css/style.css" rel="stylesheet"/>
        <script src="./js/custom.js"></script>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>{{errorMessage}}</p>
        </div>

        {{>footer}}
    </body>
</html>